* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif; 
    background:#e6e6e6;
    color: #333;
}


.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

header {
    height: 58px;
    background: #fff;
    border-top: 4px solid #ce1126;
    border-bottom-color: #eee;
}
h1, h2, h3 {
    margin: 0;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 2em;
    line-height: 58px;
    text-align: center;
    font-weight: normal;
}



 #chat-control input {
    margin-left: 5px;
    position: relative;
    top: 15px;
    width: 100%;
    margin-right: 5px;
    overflow: scroll;
}

.chat-message {

}

.msg-header {
    position: relative;
    left: 34px;
}

.anonymous {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  background-image: url(images/anonymous.png);
  position: relative;
}

.chat-message-avatar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  background-image: url(https://d2cxspbh1aoie1.cloudfront.net/owl-assets/owl/avatars/anonymous-120-1e5eb872db7267ca9158d4b50d3a8aa1.png);
  position: relative;
}

#send-button {
    background: #e6e6e6;
    text-shadow: 0 1px 0 #f3f3f3;
    margin: .5em 0 2em 0;
    width: 100%;
    position: absolute;
    left: 600px;
    top: -87px;
}

#wrapper {
    padding: 0px;
    width: 960px;
    height: 1024px;
    background: #ffffff;
}

#presence-area {
    width: 20%;
    position: relative;
    float: left;
    display: block;
    border: 2px solid;
    height: 100%
}

#presence-area li {
    list-style-type: none;
    padding-left: 5px;
}

#presence-area li.online {
    font-weight: bold;
    color: #33FF33;
}

#presence-area li.offline {
    font-weight: bold;
    color: #33FF33;

}

#user-count-container p {
    text-align: center;
    font-weight: bold;
}

#chat-area {
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    display: block;
    /*border: 1px; */
    /*border-bottom-style: dashed;*/
}


#chat-control {
    position: relative;
    display: block;
    width: 100%;
    border: 0px solid;
    padding: 0px;
    height:20%;
}

#chat-control i {
    font-size: 75px;
    position: absolute;
  }



#message-area {
    position: relative;
    height: 80%;
    padding-top: 1px;
    padding-bottom: 1px;
    overflow: scroll;
    position: relative;
    background: rgba(255,255,255,0.8);
    overflow: scroll;
    overflow-x: hidden;
    padding: 16px 10px 10px 10px;
    font-family: Monaco, mono;
    font-size: 10px;
    line-height: 11px;
    word-wrap: break-word;
    word-break: break-all;
    color: #130404;
    border-radius: 5px;
    box-shadow: inset 0px 8px 20px 2px rgba(255,255,255,0.2);
    height: 75%;
}


#chat-output { 
    height: 320px;
    overflow: scroll;
}


#chat-output p {
    font-size: 1.2em;
    margin: 0.6em;
    position: relative;
}

#chat-output i {
    font-size: 40px;
    position: absolute;
    top: -5px;
}
#chat-output span {
    position: relative;
    margin-left: 40px;
}



#chat-text {
    position: relative;
    float: left;
    display: block;
    width: 90%;
}

#chat-send {
    position: relative;
    float: left;
    display: block;
    width: 10%;   
}


#main {
    margin: 2em 1em 1em;
    background-color: #e6e6e6;
}
#main > p {
    color: #ce1126;
}


/* Font Icons */

@font-face {
    font-family: 'skipop';
    src:url('../fonts/skipop.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

[class^="face"], [class*=" face"] {
    font-family: 'skipop';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.face-1:before {
    content: "\2a";
}
.face-2:before {
    content: "\34";
}
.face-3:before {
    content: "\36";
}
.face-4:before {
    content: "\3b";
}
.face-5:before {
    content: "\3e";
}
.face-6:before {
    content: "\45";
}
.face-7:before {
    content: "\47";
}
.face-8:before {
    content: "\4d";
}
.face-9:before {
    content: "\52";
}
.face-10:before {
    content: "\59";
}
.face-11:before {
    content: "\63";
}
.face-12:before {
    content: "\6f";
}
.face-13:before {
    content: "\7a";
}

.color-1 {
    color: #393b79;
}
.color-2 {
    color: #6b6ecf;
}
.color-3 {
    color: #637939;
}
.color-4 {
    color: #b5cf6b;
}
.color-5 {
    color: #8c6d31;
}
.color-6 {
    color: #e7ba52;
}
.color-7 {
    color: #843c39;
}
.color-8 {
    color: #d6616b;
}
.color-9 {
    color: #7b4173;
}
.color-10 {
    color: #ce6dbd;
}


/*chat bubbles */
.bubble {
    background-image: linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -o-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -moz-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -ms-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(210,244,254)),
    color-stop(1, rgb(149,194,253))
);
    border: solid 1px rgba(0, 0, 0, 0.5);
    /* vendor rules */
    border-radius: 20px;
    /* vendor rules */
    box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
    /* vendor rules */
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-bottom: 20px;
    padding: 8px 30px;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
}

.bubble:before, .bubble:after {
    border-radius: 20px / 10px;
    content: '';
    display: block;
    position: absolute;
}

.bubble:before {
    border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: -7px;
    z-index: -2;
}

.bubble:after {
    border: 8px solid transparent;
    border-bottom-color: #d2f4fe;
    bottom: 1px;
    left: -5px;
}

.bubble--alt {
    background-image: linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -o-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.25, rgb(172,228,75)),
    color-stop(1, rgb(122,205,71))
);
    float: right;
}

.bubble--alt:before {
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px / 10px;
    left: auto;
    right: -7px;
}

.bubble--alt:after {
    border-bottom-color: #ace44b;
    border-radius: 20px / 10px;
    left: auto;
    right: -5px;
}


.message-console-send-area {
    position: relative;
    margin-bottom: 20px;
    height: 150px;
};

.message-console-input-title, .message-console-textarea-title {
cursor: default;
position: absolute;
top: 6px;
left: 11px;
font-weight: 700;
font-size: 13px;
line-height: 10px;
color: rgba(0,0,0,0.3);
z-index: 1;
}

#console-message-input {
margin: 0px;
height: 150px;
padding: 50px 5.5% 20px;
font-family: Monaco, mono;
font-size: 14px;
resize: none;
}
.console-message {
padding: 0;
text-indent: 10px;
outline: 0;
position: absolute;
top: 0px;
left: 0px;
width: 99.8%;
height: 40px;
border: 1px solid transparent;
background: transparent;
-webkit-box-shadow: inset 1px 2px 20px 2px rgba(0,0,0,0.2);
-moz-box-shadow: inset 1px 2px 20px 2px rgba(0,0,0,0.2);
-ms-box-shadow: inset 1px 2px 20px 2px rgba(0,0,0,0.2);
-o-box-shadow: inset 1px 2px 20px 2px rgba(0,0,0,0.2);
box-shadow: inset 1px 2px 20px 2px rgba(0,0,0,0.2);
font-size: 11px;
border-radius: 8px;
padding-top: 3px;
}

#dev-console-send-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.btn {
    padding: 10px 27px;
}

.btn {
    display: inline-block !important;
    width: auto !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-sm, .btn-group-sm>.btn, .btn-xs, .btn-group-xs>.btn {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #ce1126;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 0;
    font-size: 14px;
    font-family: "proxima-nova-thin","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.52857;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}




